<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENWEATHER_KEY</key>
	<string>1aaa65db3029bc25e901f1b3db518f2c</string>
	<key>PARSE_CLIENT</key>
	<string>vK0WPtG9j9prAjpH0aJv4BfF30cBYaJyaWskLd11</string>
	<key>PARSE_ID</key>
	<string>O3qD3l4ri7Lnco5vfGtSY2cHwrkLLOOIYPHn6dtm</string>
	<key>PARSE_SERVER</key>
	<string>https://parseapi.back4app.com</string>
</dict>
</plist>
